<div class="p-3 border-primary border-round border-1">
  <div class="grid">
    <div class="col-4 flex justify-content-end pr-3 align-items-end">
      <p-button
        label="Add work"
        icon="fa-solid fa-file-circle-plus"
        (onClick)="onAddWork()"
      ></p-button>
    </div>
    <div class="col-8">
      <img
        [src]="'https://covers.openlibrary.org/a/olid/' + author.key + '-M.jpg'"
        alt="No picture"
      />
    </div>
  </div>
  <div class="grid">
    <div
      class="col-4 flex justify-content-end text-primary align-items-begin font-bold text-right pr-3"
    >
      Change author name to update the tree menu
    </div>
    <div class="col w-10rem">
      <input
        type="text"
        pInputText
        label=""
        class="w-full"
        styleClass="w-full"
        [(ngModel)]="author.name"
      />
    </div>
    <div class="col-fixed">
      <p-button
        label="Apply"
        icon="fa-solid fa-check"
        [disabled]="author.name === ''"
        (onClick)="onUpdateAuthor()"
      ></p-button>
    </div>
  </div>
  <div class="grid">
    <div
      class="col-4 flex justify-content-end text-color-secondary font-bold pr-3"
    >
      Birth data
    </div>
    <div class="col-8">
      {{ author.birthDate }}
    </div>
  </div>
  <div class="grid">
    <div
      class="col-4 flex justify-content-end text-color-secondary font-bold pr-3"
    >
      Death date
    </div>
    <div class="col-8">
      {{ author.deathDate }}
    </div>
  </div>
  <div class="grid">
    <div
      class="col-4 flex justify-content-end text-color-secondary font-bold pr-3"
    >
      Bio
    </div>
    <div class="col-8 h-10rem overflow-auto">
      {{ author.bio }}
    </div>
  </div>
  <div class="grid mt-0">
    <div class="col-12 flex justify-content-end">
      <p-button
        severity="danger"
        label="Remove author"
        icon="fa-solid fa-user-minus"
        (onClick)="onDeleteAuthor()"
      />
    </div>
  </div>
</div>
